<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mythkeeper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
<style>
	body {
		padding-top: 5%;
	     }
	div {
		padding: 1em;
	    }
	.main {
		width: 50%;
	}
</style>
	  </head>
	  <h1 class="text-center">Adopt a creature!</h1>
	  <body>
	  <div class="container main border">
		  <form action="{{ url_for('adopt') }}" method="POST">
			  <div class="form-group col-lg-5">
				<label for="creatureName">Name</label>
			  	<input type="text" name="name"><br />
			  </div>
			  <div class="form-group col-lg-5">
				  <select class="form-control" name="species">
				  <option value="dragon">Dragon</option>
				  <option value="gryphon">Gryphon</option>
				  <option value="phoenix">Phoenix</option>
				  <option value="unicorn">Unicorn</option>
				  </select> <br />
			 </div>
			 <div class="form-group col-lg-5">
			 <button type="submit" class="btn btn-primary">Submit</button>
			 </div>
		  </form>
	  </div>
  </body>
</html>
