<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mythkeeper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
<style>
	body {
		padding-top: 5%;
	}
	div {
		padding: 1em;
	}
	button {
		margin-right: 2em;
	}
</style>

  </head>
  <body>
	  {% if current_user.is_authenticated %}
	    Hi {{ current_user.name }}!
	    {% endif %}

	  <h1 class="text-center">Mythkeeper</h1>
		  <div class="container main">
		  <div class="row border">
		      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  <img class="img-fluid" src="{{ url_for('static', filename = 'placeholder.png') }}">                  </div>
		      </div>
		      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  Name: {{ creature['name'] }}
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  Species: {{ creature[4] }}
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  Health: {{ creature['health'] }} / {{ creature['max_health'] }}
			  </div>
		      </div>
	  <div class="container">
	  	<a class="btn btn-primary" href="/creature/adopt" role="button">Adopt a Creature</a>
		<a class="btn btn-primary" href="/task/add" role="button">Create a Task</a>
	</div>
		  </div>

	  </div>

  </body>
</html>
